.falling_page {
  border: 5px dashed grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .falling_sabre {
    width: 15%;
    min-height: 15%;
    z-index: 100;
  }
}
