.family_page_slider_mask {
  border: 5px solid purple;
  height: 100vh;
}

.family_page_slider_track {
  height: 100%;
  display: inline-flex;
  // border: 5px solid red;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  padding-inline: 8vw;
  // border: 5px solid green;
}

.family_page_double {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  // border: 5px solid aqua;
}

.slide-1 {
  width: 80vw;
}

.slide-2 {
  width: 84vw;
}

.slide-3 {
  width: 80vw;
}

.slide-4 {
  width: 60vw;
}

.slide-5 {
  width: 50vw;
}

.slide-6 {
  width: 70vw;
}

.slide-7 {
  width: 60vw;
}
