.shop_button {
  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.46);
  backdrop-filter: blur(3.6500000953674316px);
  position: fixed;
  right: 0px;
  margin-right: 30px;
  margin-top: 61px;
  z-index: 1;
  color: #000;
  font-family: "Novel Sans Pro";
  font-size: 20px;
  border: none;
}

.shop_button:hover {
  border-radius: 9px;
  background: var(
    --Environment-gradient,
    linear-gradient(272deg, #bc63da 0%, #dd533d 96.12%)
  );
  color: white;
  transition: 0.3s ease-in-out;
}

.shop_text_whole {
  display: flex;
  width: 682px;
  flex-direction: column;
  align-items: flex-start;
}

.shop_text {
  display: flex;
  width: 682px;
  flex-direction: column;
  align-items: flex-start;
  gap: 66px;
}

.shop_text_description {
  display: flex;
  padding-right: 26px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.shop_text_creator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.shop_infos {
  display: flex;
  align-items: center;
  gap: 22px;
  align-self: stretch;
}

.shop_format {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-self: stretch;
}

.shop_pages {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-self: stretch;
}

.shop_isbn {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-self: stretch;
}

.shop_buy {
  display: flex;
  width: 246px;
  height: 78px;
  padding: 20px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 9px;
  border: 3px solid var(--Button-test-gradient, #c7b3ce);
  background: rgba(255, 255, 255, 0.66);
  backdrop-filter: blur(15.050000190734863px);
  font-size: 29px;
  font-weight: 500;
}
