.shop_button {
  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.46);
  backdrop-filter: blur(3.6500000953674316px);
  position: fixed;
  right: 0px;
  margin-right: 30px;
  margin-top: 61px;
  z-index: 1;
  color: #000;
  font-family: "Novel Sans Pro";
  font-size: 20px;
  border: none;
}

.shop_button:hover {
  border-radius: 9px;
  background: var(
    --Environment-gradient,
    linear-gradient(272deg, #bc63da 0%, #dd533d 96.12%)
  );
  color: white;
  transition: 0.3s ease-in-out;
}
