.shop_button {
  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.46);
  backdrop-filter: blur(3.6500000953674316px);
  position: fixed;
  right: 0px;
  margin-right: 30px;
  margin-top: 61px;
  z-index: 1;
  font-size: 20px;
  border: none;
}

.shop_button:hover {
  border-radius: 9px;
  background: var(
    --Environment-gradient,
    linear-gradient(272deg, #bc63da 0%, #dd533d 96.12%)
  );
  color: white;
  transition: 0.3s ease-in-out;
}

.shop {
  margin-top: 50%;
  background-image: url("../images/footer_background.png");
  background-size: cover;
}

.shop_text_whole {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 66px;
}

.shop_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  font-size: 24px;
}

.shop_text_description {
  display: flex;
  padding-right: 26px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.shop_text_creator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.shop_infos {
  display: flex;
  align-items: center;
  gap: 30px;
  align-self: stretch;
}

.shop_format {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-self: stretch;
}

.shop_pages {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-self: stretch;
}

.shop_isbn {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-self: stretch;
}

.shop_buy {
  display: flex;
  padding: 20px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 9px;
  border: 3px solid var(--Button-test-gradient, #c7b3ce);
  background: rgba(255, 255, 255, 0.66);
  backdrop-filter: blur(15.050000190734863px);
  font-size: 29px;
  font-weight: 500;
  width: 250px;
  transition: all 0.3s ease-out;
}

.shop_buy:hover {
  border-radius: 9px;
  background: linear-gradient(
    293deg,
    rgba(199, 179, 206, 0.66) 20.64%,
    rgba(191, 205, 213, 0.66) 85.29%
  );
  backdrop-filter: blur(15.050000190734863px);
  color: rgba(255, 255, 255, 0.79);
  font-weight: 700;
  border: nonlinear-gradient(
      293deg,
      rgba(199, 179, 206, 0.66) 20.64%,
      rgba(191, 205, 213, 0.66) 85.29%
    )
    e;
  width: 250px;
}

.shop_cover {
  width: 50%;
  height: auto;
}

.shop_space {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 500px;
}
