.thunder_page {
  overflow: hidden;
  margin-top: 111px;
}

.thunder_parallax img {
  //   position: relative;
}

.thunder_parallax {
  //   overflow: hidden;
  border: 5px red solid;
  //   height: 100vh;
  width: 100%;
  position: relative;
}

// .thunder_parallax_1 {
//   //   position: absolute;
// }

.thunder_parallax_2 {
  margin-top: -50vw;
}

.thunder_parallax_3 {
  margin-top: -13vw;
}

.thunder_parallax_4 {
  margin-top: -25vw;
}

.thunder_parallax_5 {
  margin-top: -6vw;
}

.thunder_storm {
  position: relative;
  margin-top: -2vw;
}

// .thunder_parallax_2,
// .thunder_parallax_3,
// .thunder_parallax_4,
// .thunder_parallax_5 {
//   //   position: absolute;
//   //   top: 90vh;
// }

.thunder_lightning {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thunder_lightning_1 {
  position: relative;
  margin-top: -200vw;
}

.thunder_lightning_2 {
  position: relative;
  top: -1250px;
  margin-top: 40vw;
}

.thunder_lightning_image_1 {
  width: 40vw;
  height: auto;
}

.thunder_lightning_image_2 {
  width: 40vw;
  height: auto;
}

.thunder_baby {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thunder_baby_sleeping {
  width: 50%;
  height: 50%;
  display: block;
}

.thunder_baby_awake {
  width: 50%;
  height: 50%;
  display: none;
}
