.thunder_page {
  overflow: hidden;
  margin-top: 111px;
}

.thunder_parallax img {
  //   position: relative;
}

.thunder_parallax {
  //   overflow: hidden;
  // border: 5px red solid;
  //   height: 100vh;
  width: 100%;
  position: relative;
}

// .thunder_parallax_1 {
//   //   position: absolute;
// }

.thunder_parallax_2 {
  margin-top: -50vw;
}

.thunder_parallax_3 {
  margin-top: -13vw;
}

.thunder_parallax_4 {
  margin-top: -25vw;
}

.thunder_parallax_5 {
  margin-top: -6vw;
}

.thunder_storm {
  position: relative;
  margin-top: -2vw;
}

.thunder_lightning {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thunder_lightning_1 {
  position: relative;
  margin-top: -100%;
}

.thunder_lightning_2 {
  position: relative;
  margin-top: -80%;
}

.thunder_lightning_image_1 {
  width: 40vw;
  height: auto;
}

.thunder_lightning_image_2 {
  width: 40vw;
  height: auto;
}

.thunder_family {
  position: relative;
  margin-top: -20%;
}

.thunder_baby {
  margin-top: 20%;
  margin-bottom: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thunder_baby_sleeping {
  width: 50%;
  height: 50%;
  display: block;
}

.thunder_baby_awake {
  width: 50%;
  height: 50%;
  display: none;
}

.thunder_baby {
  width: 50%;
  height: 50%;
  display: block;
}

.thunder_baby {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 36vw;
  background-image: url("../images/1_bebe_1.png");
  background-size: cover;
  transition: background-image 0.2s ease-in-out;
}

.thunder_baby:hover {
  background-image: url("../images/1_bebe_2.png");
}
