* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

img,
video {
  display: block;
  width: 100%;
}

body {
  overflow-x: hidden;
  color: #000;
  font-family: "Novel Sans Pro";
}

h1 {
  font-family: "capitol";
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
}

h4 {
  font-size: 16px;
  font-weight: 200;
}
