header {
  height: 0.1px;
}

footer {
  display: flex;
  transform: rotate(0.079deg);
  padding: 16px 46px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
}

.footer_text {
  display: flex;
  align-items: center;
  gap: 47px;
  flex-shrink: 0;
}

.footer_sabre {
  margin-left: 78vw;
  width: 20%;
}

.footer_logo {
  width: 10%;
}

.footer_background {
  position: absolute;
  overflow: hidden;
}
